

NET "swGrill" LOC = N17;
NET "swDispVacio" LOC = L13;
NET "ldFaltaMat" LOC = P16;
NET "swDispLleno" LOC = L14;
NET "ldNoCort" LOC = E16;
NET "ldSeg" LOC = J14;
NET "ldCrud" LOC = E4;
NET "ldQuema" LOC = P4;
NET "Clk" LOC = B8;
NET "ldAlarma" LOC = K15;
NET "btnAlarma" LOC = B18;

# PlanAhead Generated physical constraints 

NET "error" LOC = J15;
